body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.page {
    padding: 50px 20px;
}

h1 {
    color: #1b4f8a;
    margin-bottom: 20px;
}

p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
}

blockquote {
    margin: 30px auto;
    font-style: italic;
    color: #555;
    font-size: 20px;
}

.image-container {
    margin-top: 30px;
}

.image-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
}

.back-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background: #1b4f8a;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
a,
a:visited,
a:active {
    color: white !important;
    text-decoration: none;
}

a:hover {
    color: #dddddd !important;
}